body{
    font-family: 'Roboto', sans-serif;

      
}
ul li{
    border: 2px solid black;
}
@media (max-width: 575.98px) {
.col-lg-12{
    width: 80%;
    margin:0 auto;
}
.navbar-brand{
    font-size: 1.5rem
}
}
.navbar{
     border: 2px solid black;
}
